html{
    width:100vw;
}
body{
	font-family: 'Montserrat', sans-serif;
	width:100vw;
}

.navbar {
    background-color: #f8f8f800;
    border-color: #e7e7e700;
    z-index: 20;
}

.bg-light {
    background-color: #f8f9fa00 !important;
}
@media (min-width: 992px)
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-top: -20px;
}

.navbar .navbar-nav > li > a {
    color: black;
    font-family: 'Righteous', cursive;
    margin-left: 70px;
    margin-top: 20px;
}

.dropdown-menu{
    background-size: 200px;
}

.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
     color: #5550; 
    background-color: #e7e7e700;
}

.dropdown-item{
    color: black;
    font-family: 'Righteous', cursive;
    justify-content: center;
}

.dropdown-item:hover{
    color: #efc61e;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    color: #efc61e;
    background-color: transparent;
    transition: .3s;
}

.top-section{
	height:100vh;
    width:100vw;
    z-index: -20;
	background-repeat:no-repeat;
	background-size:cover;
}

.imgthree{
	width: 100%;
	height: 100vh;
	position: absolute;
	background: url(../images/fimg3.png) no-repeat 50% 50%;
	background-size: cover;
	z-index:10;
    overflow: hidden;
}
.imgtwo{
	width: 100%;
	height: 100vh;
	position: absolute;
	background: url(../images/fimg1.png) no-repeat 50% 50%;
	background-size: cover;
	z-index:10;
    overflow: hidden;
}
.imgone{
	width: 100%;
	height: 100vh;
	position: absolute;
	background: url(../images/fimg2.png) no-repeat 50% 50%;
	background-size: cover;
	z-index:10;
    overflow: hidden;
}

.welcometoc{
    width: 100%;
    height: 30vh;
}
.welcometoc p{
    margin: 220px 0;
    padding: 0;
    text-align: center;
    color: #333333;
}
.welcometoc img{
    height:100%;
    width:100%;
    margin-top: -20px;
    padding: 0;
}

.aboutbutton{
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 2px solid rgba(22, 76, 167, 0.6);
  margin: 30px auto;

}
.aboutbutton span{
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.aboutimgdesk, .aboutimgmobile{
    z-index:-10;
    position: relative;
}

.aboutimgdesk img{
    width:100vw;
    padding-top:480px;
}

.aboutimgmobile img{
    width:100vw;
    padding-top:300px;
}

@media screen and (max-width : 1920px){
    .aboutimgmobile{
        visibility:hidden;
    }
    .aboutimgdesk{
        visibility:visible;
    }
}

@media screen and (max-width : 1024px){
    .aboutimgdesk{
        visibility:hidden;
    }
    .aboutimgmobile{
        visibility:visible;
    }
}

.top-section2{
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 1118px;
    height: 609px;
}

.header-section{
	height:100vh;
	width:100vw;
	text-align:center;
}
.header-section nav{
	text-align:right;
}
.about-section{
	height:100vh;
	width:100%;
	text-align:center;
}

.logo{
	height:150px;
    margin-top: -38%;
}
.about-us{ 
    text-align: center;
    margin-top: 30vh;
}
.about-us h2{
    font-size: 5vh;
	font-weight:600;
    letter-spacing: 8px;
}
.about-us hr{
    width: 30%;
    border-radius: 3px;
    border: 2px solid #f1c81e;
}
.about-us p{
    font-size: 2.5vh;
    padding-left: 5%;
    padding-right: 5%;
}

.service-section{
	background-color: white;
	width:100vw;
    height: 100vh;
	overflow:hidden;
    z-index: 10;
}
.service-section2{
	background-color:#1759a5;
	width:100vw;
    height: 100vh;
	overflow:hidden;
}
.service-section img{
	height:100%;
	width:100%;
}
.service-section2 img{
	height:100%;
	width:100%;
}
.service1{
	height:100vh;
	width:185vw;
	display:inline-block;
	margin:0px;
	padding:0px;
    z-index:10;
}
.service2{
	height:100vh;
	width:100vw;
	overflow:hidden;
	display:inline-block;
	margin:0px;
	padding:0px;
}
.service-info{
	background-color: #0f112f;
	height:100vh;
	width:85vw;
	float:left;
	text-align:center;
}
.service-info2{
	background-color:#222c35;
	height:100vh;
	width:85vw;
	float:right;
	text-align:center;
}
.info-img img{
	height:40vh;
	width:40vh;
    margin-top: 2%;
}
.info-h{
    color: white;
    font-weight: 600;
    letter-spacing: 20px;
    padding-top: 2%;
}
.info hr{
    width: 15%;
    margin-top: 0%;
    border-radius: 3px;
    border: 2px solid #a61c20;
}

.info-img i{
    background-size: 100px;
}
.info-p{
    color: white;
    padding: 1% 15% 5% 15%;
    font-size: 2.5vh;
	}
.service-slide1{
	background-image:url(../images/1.jpeg);
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
	width:100vw;
	float:left;
	transition: transform 1s ease-in-out;
}
.service-slide2{
	background-image:url(../images/2.png);
	background-repeat:no-repeat;
	background-size:cover;
	float:right;
	height:100vh;
	width:100vw;
    margin-left: -85vw;
	transition: transform 1s ease-in-out;
}
.service-slide3{
	background-image:url(../images/3.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
	width:100vw;
	float:left;
	transition: transform 1s ease-in-out;
}
.service-slide1:hover{
	transform: translate3d(-85vw,0,0);
}
.service-slide2:hover{
	transform: translate3d(+85vw,0,0);
}
.service-slide3:hover{
	transform: translate3d(-85vw,0,0);
}
.overlay{
	height:100vh;
	display:none;
	transition: display 1s ease-in-out;
}
.service-slide1:hover .overlay{
	display:block;
}
.service-slide1:hover .handle{
	background-color:transparent;
}
.service-slide2:hover .overlay{
	display:block;
}
.service-slide2:hover .handle{
	background-color:transparent;
}
.service-slide3:hover .overlay{
	display:block;
}
.service-slide3:hover .handle{
	background-color:transparent;
}
.content{
    color: white;
	text-align:center;
}
.overlay p{
	font-size:5vh;
	font-weight:600;
    padding-top: 15vh;
    letter-spacing: 8px;
}
.overlay ul{
    list-style-type: none;
    font-size: 3vh;
	margin-top:2%;
	margin-bottom:2%;
	margin-left:0px;
	padding-left:0px;
}
.content li{
	margin-left:0px;
	padding:3px
}
.content  li  a {
	margin-left:0px;
    color: white;
}
.content li  a:hover{
	cursor:pointer;
	font-size:3vh;
	padding:-8px;
	color:#f1c81e;
    background-color: transparent;
    transition: .2s;
}
.handle{
    height: 20vh;
    width: 5px;
    border-radius: 3px;
    background-color: white;
    margin-left: 3%;
    margin-top: 40vh;
	position:absolute;
}
.service-section2 .handle{
    height: 20vh;
    width: 5px;
    border-radius: 3px;
    background-color: white;
    margin-left: 96%;
    margin-top: 40vh;
	position:absolute;
}

.fa-paint-brush{
    color: white;
    font-size: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.fa-paint-brush:hover {
    color: #4cabd3;
}

.fa-laptop-code{
    color: white;
    font-size: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.fa-laptop-code:hover {
    color: #4cabd3;
}

.footer-section{
	background-color:#0f112f;
    width:100vw;
	color:white;
	text-align:center;
	font-size:1.25vh;
}
.footer-section ul{
	list-style:none;
    display: -webkit-box;
}


.footer-nav li {
	font-weight:600;
    padding: 4% 2% 2% 0%;
}
.footer-nav b:hover{
	cursor:pointer;
    color:#f1c81e;
}
.copyright{
	padding-top:1%;
}

.social li {
	font-weight:600;
    margin: 2%;
    margin-top: 1%;
    padding: 5%;
}
.social a{
	color:#f1c81e;
}
.social a:hover{
	color:white;
}



#topp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:20;
}
#topp i{
    color: #000;
    margin: 0;
    left: 16px;
    position: relative;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#topp:hover{
    background: rgba(0, 0, 0, 0.9);
}
#topp:hover i{
    color: #fff;
    top: 5px;
}
