#particles-js{
    height:100%;
    background: #ffffff;
}
.portfolio-section{
	height:100vh;
	position:relative;
	text-align:center;
}
.scontent{
    height: 60vh;
    margin-top: -90vh;
	overflow:hidden;
}
.quotes{
	margin:20px;
	height:120vh;
}
.q{
    height: 60vh;
    text-align: center;
    font-size: 3vh;
    padding: 8%;
    font-weight: 600;
	animation: qf 10s infinite;
}
@keyframes qf{	

	0%{ transform: translate3d(0,0vh,0);}
	45%{ transform: translate3d(0,0vh,0);}
	50%{ transform: translate3d(0,-60vh,0);}
	95%{ transform: translate3d(0,-60vh,0);}
	100%{ transform: translate3d(0,+60,0);}
	
}