.vantajs {
  width: 100vw; 
    height: 100%;
}

svg#box {
    margin-top: 80px; 
 width:240px;
height:240px;
transition: 1s; 
}

svg:hover #bulb{
fill: yellow;
}

svg:hover #palette{
fill: yellow;
}
